body {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 38px;
    position: relative;
}


h1 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 0;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 20px;
    margin: 0 0 24px;
    padding: 0 10px;
    text-align: left;
    text-transform: uppercase;
}
p {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 48px;
}
a {
    color: #990000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

.table1{
background:black;
opacity:0.5;

}

.table2{
background:#6699CC;
opacity:0.5;
 text-align: center;

}
.image{
padding:30px;
 float:center;
}

